a:visited {
    color: #9d03f3;
}
a:hover {
    color: #fc8c03;
}

body {
    background-color: #000000;
   
}
p {
    color: #ffffff;
    background-image: url(../images/pumpkin.png);
     /*
    background-repeat: no-repeat;
    */
}
.second {
    color: #ffffff;
    border: 2px solid #fc8c03;
    margin: 20px;
    padding: 10px;
}